target_size: {
  width:299
  height:299
}
short_side_size: 500

batch_size: 32
epochs: 200
steps_per_epoch: 1000

max_people_per_img: 3

# Total number of training examples seen:
# 64 * 200 * 7724 = 98,867,200

# Model has 7,562,545 free param
model: {

  # I want all but the last 2 blocks
  layers { transfer {partial_freeze: 116} name: "xception"}

  layers { flatten {}}

  # size : 2048

  layers { dense { units: 1024 }}
  layers { dense { units: 512 }}
  layers { dense { units: 256 }}

  # output size: 139 (for 3 people)

  # The model gets its own output

  #loss: "categorical_crossentropy"
  loss: "mse"
  optimizer { sgd {
    learning_rate: 0.01
    momentum: 0.5
    nesterov: true
  } }
}

generator {
  horizontal_flip: true
  vertical_flip: true
  shear_range: 0.1
  zoom_range: 0.1
  width_shift_range: 0.1
  height_shift_range: 0.1
  rotation_range: 10
  ## standardize_features: true
  ## whitening: true
}

# This system config is specific for a phase 18 node
system { 
#gpus: 2 
workers:-1 }
