target_size: {
  width:299
  height:299
}
# short_side_size: 500

batch_size: 64
epochs: 200

max_people_per_img: 3

model: {

  # I want all but the last 2 blocks
  layers { transfer {partial_freeze: 116} name: "xception"}

  layers { flatten {}}

  # size : 2048

  layers { dense { units: 1024 }}
  layers { dense { units: 512 }}
  layers { dense { units: 256 }}

  # output is then fit using explicit param

  # The model gets its own output
  optimizer { sgd {
    learning_rate: 0.01
    momentum: 0.5
    nesterov: true
  } }
}

# This system config is specific for a phase 18 node
system {
  gpus: 2
  workers:-1
}
