target_size: {
  width:224
  height:224
}
# short_side_size: 500

#super_debug_mode: true
batch_size: 64
epochs: 1000

max_people_per_img: 0

model: {

  # specific transfer info found in args
  layers { transfer {} name: "vgg19" }


  layers { flatten {}}

  layers { dense { units: 2048 activation: "relu" }}
  layers { dense { units: 2048 activation: "relu" }}

  layers { dropout {}}
  layers { dense { units: 10 activation: "softmax" } name: "output"}

}

# This system config is specific for a phase 18 node
system {
  # gpus: 2
  workers:4
}
