color_mode: RGB
target_size: {
  width:224
  height:224
}
class_mode: "categorical"

batch_size: 32
epochs: 200
steps_per_epoch: 7724  # Num training examples
validation_split: 0.2
validation_steps: 150 # ~ 0.2 num training examples
#balance_class_weight: true

# Total number of training examples seen:
# 64 * 200 * 7724 = 98,867,200

# Model has 7,562,545 free param
model: {

  layers { transfer {} name: "vgg19"}

  layers { flatten {}}

  layers { dropout {}}

  layers { dense { units: 256 }}
  layers { dense { units: 128 }}
  layers { dense { units: 10 activation: "softmax" } name: "output"}

  #loss: "categorical_crossentropy"
  loss: "mse"
  optimizer { sgd {
    learning_rate: 0.01
    momentum: 0.5
    nesterov: true
  } }
}

generator {
  horizontal_flip: true
  vertical_flip: true
  shear_range: 0.1
  zoom_range: 0.1
  width_shift_range: 0.1
  height_shift_range: 0.1
  rotation_range: 10
  ## standardize_features: true
  ## whitening: true
}

# This system config is specific for a phase 18 node
system { gpus: 2 workers:-1 }
