# Input data
color_mode: GRAYSCALE
# All iamges are rescaled to this
target_size: {
  width:256
  height:256
}

# Note, there are a number of default parameters used for image preproc

# Training Param
batch_size: 256
epochs:5
steps_per_epoch:100

# Model
model: {

  # First convolutional layer
  layers: {
    convolutional: {
      filters: 64
      kernel_size: {
        width: 3 height : 3
      }
      pool_size: {
        width: 2 height: 2
      }
    }
  }

  # Second convolutional layer
  layers: {
    convolutional: {
      filters: 64
      kernel_size: {
        width: 3 height : 3
      }
      pool_size: {
        width: 2 height: 2
      }
    }
  }

  # Compress
  layers: {
    flatten: {}
  }

  # Throw away
  layers: {
    dropout: {}
  }

  # Dense Hidden Layer
  layers: {
    dense: {
      units: 64
    }
  }

  # Boolean Output Layer
  layers: {
    dense: {
      units: 10
      activation: "sigmoid"
      name: "output"
    }
  }
}
