target_size: {
  width:256
  height:256
}
# short_side_size: 500

batch_size: 64
epochs: 200

max_people_per_img: 0

model: {

  layers { convolutional {
    filters: 128
    kernel_size { width: 3 height: 3 }
  } }

  layers { convolutional {
    filters: 128
    kernel_size { width: 3 height: 3 }
  } }

  layers { pool {
    size { width: 2 height: 2 }
  } }

  layers { convolutional {
    filters: 64
    kernel_size { width: 3 height: 3 }
  } }

  layers { convolutional {
    filters: 64
    kernel_size { width: 3 height: 3 }
  } }

  layers { pool {
    size { width: 2 height: 2 }
  } }

  layers { convolutional {
    filters: 32
    kernel_size { width: 3 height: 3 }
  } }

  layers { convolutional {
    filters: 32
    kernel_size { width: 3 height: 3 }
  } }

  layers { pool {
    size { width: 2 height: 2 }
  } }

  layers { convolutional {
    filters: 16
    kernel_size { width: 3 height: 3 }
  } }

  layers { convolutional {
    filters: 16
    kernel_size { width: 3 height: 3 }
  } }

  layers { pool {
    size { width: 2 height: 2 }
  } }


  layers { flatten {}}

  layers { dense { units: 1024 activation: "relu" }}
  layers { dense { units: 1024 activation: "relu" }}
#  layers { dense { units: 10 activation: "softmax" }}

}

# This system config is specific for a phase 18 node
system {
  # gpus: 2
  workers:8
}
