target_size: {
  width:299
  height:299
}
# short_side_size: 500

batch_size: 64
epochs: 200

max_people_per_img: 3

model: {

  layers { convolutional {
    filters: 64
    kernel_size { width: 5 height : 5 }
    pool_size { width: 2 height: 2 }
  } }

  layers { convolutional {
    filters: 64
    kernel_size { width: 3 height : 3 }
    pool_size { width: 2 height: 2 }
  } }

  layers { convolutional {
    filters: 64
    kernel_size { width: 2 height : 2 }
    pool_size { width: 2 height: 2 }
  } }

  layers { flatten {}}

  # size : 2048

  layers { dense { units: 256 }}

  # output is then fit using explicit param

  # The model gets its own output
  optimizer { sgd {
    learning_rate: 0.01
    momentum: 0.5
    nesterov: true
  } }
}

# This system config is specific for a phase 18 node
system {
  # gpus: 2
  workers:-1
}
