# Input data
color_mode: GRAYSCALE
# All iamges are rescaled to this
target_size: {
  width:256
  height:256
}
class_mode: "binary"

# Note, there are a number of default parameters used for image preproc

# Training Param
batch_size: 512
epochs:50
steps_per_epoch:1000
gpus:2

# Model
model: {

  # convolutional layer
  layers: {
    convolutional: {
      filters: 64
      kernel_size: {
        width: 3 height : 3
      }
      pool_size: {
        width: 2 height: 2
      }
    }
  }

  layers: {
    convolutional: {
      filters: 64
      kernel_size: {
        width: 3 height : 3
      }
      pool_size: {
        width: 2 height: 2
      }
    }
  }

  layers: {
    convolutional: {
      filters: 64
      kernel_size: {
        width: 3 height : 3
      }
      pool_size: {
        width: 2 height: 2
      }
    }
  }

  layers: {
    convolutional: {
      filters: 64
      kernel_size: {
        width: 3 height : 3
      }
      pool_size: {
        width: 2 height: 2
      }
    }
  }

  # Compress
  layers: {
    flatten: {}
  }

  # Dense Hidden Layer
  layers: {
    dense: {
      units: 64
    }
  }

  # Dense Hidden Layer
  layers: {
    dense: {
      units: 64
    }
  }

  # Boolean Output Layer
  layers: {
    dense: {
      units: 1
      activation: "sigmoid"
      name: "output"
    }
  }

  loss: "mse"
  optimizer: "sgd"
}
