color_mode: RGB
target_size: {
  width:256
  height:256
}
class_mode: "categorical"

batch_size: 32
epochs: 200
steps_per_epoch: 7724  # Num training examples
validation_split: 0.2
validation_steps: 150 # ~ 0.2 num training examples
balance_class_weight: true

# Total number of training examples seen:
# 64 * 200 * 7724 = 98,867,200

# Model has 7,562,545 free param
model: {

  # 256x256
  layers { convolutional {
    filters: 64
    kernel_size { width: 3 height : 3 }
    pool_size { width: 2 height: 2 }
  } }

  # 128x128x64
  layers { convolutional {
    filters: 32
    kernel_size { width: 3 height : 3 }
    pool_size { width: 2 height: 2 }
  } }

  # 64x64x32
  layers { convolutional {
    filters: 16
    kernel_size { width: 3 height : 3 }
    pool_size { width: 2 height: 2 }
  } }

  # 32x32x16
  layers { flatten {}}

  # 16384

  #layers { dense { units: 512 }}
  layers { dense { units: 256 }}
  layers { dense { units: 128 }}
  layers { dense { units: 2 activation: "softmax" }}

  loss: "categorical_crossentropy"
  optimizer { sgd {
    learning_rate: 0.01
    momentum: 0.5
    nesterov: true
  } }
}

generator {
  horizontal_flip: true
  vertical_flip: true
  shear_range: 0.1
  zoom_range: 0.1
  width_shift_range: 0.1
  height_shift_range: 0.1
  rotation_range: 10
}

# This system config is specific for a phase 18 node
system { gpus: 2 workers:-1 }
